---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "ESA (Edge Security Acceleration)"
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

## Example Usage

{{tffile "examples/resources/alicloudextend_esa_https_basic_configuration/resource.tf"}}

## Schema

{{.SchemaMarkdown}}
