---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "ApsaraVideo Live"
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

## Example Usage

{{tffile "examples/resources/alicloudextend_live_domain_ipv6/resource.tf"}}

{{.SchemaMarkdown}}

## Import

Import is supported using the domain name:

```shell
terraform import alicloudextend_live_domain_ipv6.example play.example.com
```
