---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "ESA (Edge Security Acceleration)"
description: |-
  {{.Description}}
---

# {{.Name}}

{{.Description}}

## Example Usage

{{tffile "examples/data-sources/alicloudextend_esa_rate_plan_instances/data-source.tf"}}

{{.SchemaMarkdown}}
