---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "ESA (Edge Security Acceleration)"
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

## Example Usage

{{tffile "examples/data-sources/alicloudextend_esa_sites/data-source.tf"}}

## Schema

{{.SchemaMarkdown}}
