---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "ApsaraVideo Live"
description: |-
  {{.Description}}
---

# {{.Name}}

{{.Description}}

## Example Usage

{{tffile "examples/data-sources/alicloudextend_live_domain_verify_content/data-source.tf"}}

{{.SchemaMarkdown}}
